<?xml version="1.0" encoding="utf-8"?>
<!-- <!DOCTYPE hibernate-configuration PUBLIC -->
<!--     "-//Hibernate/Hibernate Configuration DTD 3.0//EN" -->
<!--     "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL dialect -->
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</property>
<!--    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property> -->

        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.jdbc.fetch_size">1000</property>
        <property name="hibernate.jdbc.batch_size">30</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>

        <property name="hibernate.bytecode.provider">javassist</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">true</property>

        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.connection.defaultNChar">true</property>  
        <property name="hibernate.connnection.charSet">utf-8</property>  
        <property name="hibernate.connection.useUnicode">true</property>  
        <property name="hibernate.connection.characterEncoding">utf-8</property>
        <property name="hibernate.default_batch_fetch_size">4</property>

        <property name="hibernate.generate_statistics">false</property>

    </session-factory>
</hibernate-configuration>
